body.sponsor {
  background:#fff;
}

.sponsor #slidetwo {
  height: 60vh;
}

.sponsor header {
  background:#dd0d8b;
  height:60vh;

  .heroWrapper {
    height:40vh;
  }
}

.sponsor main {
  padding: 10vh 0;
}
