@import "parts";

html,body { overflow-x:hidden;background-color:#231f20;height:100%;}
a { color:#fff;cursor:pointer; }
img { width:100%;height:auto; }

.navwrapper {
  position:relative;
}

#slideonebtn, #slidetwobtn {
  position:absolute;
  cursor: pointer;
  z-index:99;
  top:40px;
}
#slideonebtn {
  left:40px;
}
#slidetwobtn {
  right:40px;
}

#slideone, #slidetwo {
  position:absolute;
  z-index:999;
  top:0;
  margin:0;padding:40px;
  width:300px;
  height:89vh;
  max-height:100%;
  background-color:#dd0d8b;
  display: none;
  color:#fff;
  p {
    font-size: 1.2em,
  }
  a {
    color:#fff;
  }
  .row, .col {
    margin:0;padding:0;
  }
}
#slideone {
  left:0;
  h3 { font-size: 1em;font-weight: 900;}

  #slideoneclose {
    position:absolute;
    cursor: pointer;
    top:50px;
    right:-30px;
  }
  .slidefooter {
    position:relative;
    margin-top:5vh;
  }
  a {
    cursor: pointer;
    &:hover .more-arrow-right-wrapper {
      margin-left:5px;
    }
  }
  .more-arrow-right-wrapper {
    margin-top:55px;
    transition: all .2s;

      .more-arrow-right {
        position: relative;
        width: 30px;
        height: 2px;
        background: #fff;
        transform: rotate(-45deg);
        transform-origin: 0% 0%;
      }
      .more-arrow-right:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 100%;
        background: #fff;
        transform: rotate(-90deg);
        transform-origin: 0% 100%;
      }
  }

}
#slidetwo {
  right:0;
  padding: 50px;

  #slidetwoclose {
    position:absolute;
    cursor: pointer;
    top:50px;
    left:-60px;
  }
  li {
    margin: 5px 0;
    text-align: right;
    line-height: 1em;
    a {
      font-size: 1.2em;
    }
  }
  .space {
    margin: 5px 0;
  }
  .info { color:#dcdde1; }
}

header {
  position: relative;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/Michelle-Vesterby-KeepSmiling-01.jpg) no-repeat center center;
  background-size: cover;
  height:85vh;width:100%;
  text-align: center;

  .heroWrapper {
    font-weight: 900;
    color:#fff;
    height:90vh;
    width:100vw;
    display: table-cell;
    vertical-align: middle;

    h1 { font-size:6em;font-weight: 900; }
    h2 { font-size:1em;font-weight: 900; }
  }

.arrow-wrapper {
    width: 57.28px;
    height: 57.28px;
    position: absolute;
    left: 50%;
    bottom:10vh;
    margin-left: -28.68px;
    transition: all .2s;

    &:hover {
      bottom:9.8vh;
    }

    .more-arrow {
      position: relative;
      width: 60px;
      height: 2px;
      background: #fff;
      transform: rotate(45deg);
      transform-origin: 0% 0%;
      animation: pulse 2s infinite;
      border-radius: 12px;

      &:hover {
        animation: none;
      }
    }
    .more-arrow:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 100%;
      background: #fff;
      transform: rotate(-90deg);
      transform-origin: 0% 100%;
      animation: pulse 2s infinite;
      border-radius: 12px;
    }

  }
}

main {
  position:relative;
  z-index:9999;
  min-height: 250vh;

  section {
    width:100vw;
    margin:0;padding:0;
  }

  #cta {
    background-color:#dd0d8b;
    color:#fff;
    text-align: center;
    padding: 4vh;
    h2 { margin:0;padding:0;font-size: 1.5em;font-weight: 900;}
  }

  #justBelieve {
    position:relative;
    margin: 5vh 0;
    color:#fff;

    h2 {
      text-align: center;
      font-weight: 900;
      font-size:3em;
      margin: 10vh 0 0 0;
    }

    #justBelieveContent {
      margin: 10vh;
      position:relative;

      img {
        position:absolute;
        width:50%;
        left:8%

      }
      p {
        position:absolute;
        width:45%;
        right:8%;
        top:-80px;
        font-size: 1.3em;
        line-height: 1.6em;
      }

    }
  }

}
